<div class="room-container">
    <section class="game-info">
        <h1 class="room-name -game-room">{{roomName}}</h1>

        <div class="users">
            <h2>Users</h2>
            <ul id="users-list" class="users__list">
                {{#each users}}
                    <li class="user-list__item" data-id={{@key}}>
                        <span>{{this.username}}</span>

                        {{#if this.score}}
                        <span class="game__score" data-id="{{@key}}">{{this.score}}</span>

                        {{else}}
                        <span class="game__score" data-id="{{@key}}">0</span>

                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    
        <div class="messages">
             <h2>Game chat</h2>
            <div class="message-container" id="message-container"></div>
        </div>
    </section>

    <section class="game-container">
        <div id="game-message" class="game-message">Guess the artist from the song you are hearing</div>

        <audio id="player" autoplay>
            <source src="{{currentSongUrl}}" type="audio/mp3">
            Your browser does not support the audio tag.
        </audio>

        <form id="send-container" class="send-container">
            <input id="message-input" class="message-input" type="text" placeholder="Guess the artist">
            <button class="btn -primary" type="submit">Guess</button>
        </form>
    </section>
</div>